.admin{
    .cards{
        width: 100%;
        max-height: 70px;  
        // display: grid;
        // grid-template-columns: repeat(6, auto);
        // gap: 10px;
        z-index: 10;

        .card{
            padding: 10px;
            background: #FFF;
            transition: .25s ease-in-out;
            position: relative;
            
            &:hover{
                cursor: pointer;
                box-shadow: 0 0 0 2px #26c2ff;
            }

            &.active{
                background: #3498db;
                color: #FFF;

                &:hover{
                    color: #ffffff;
                    background: #26c2ff;
                    box-shadow: none;
                }
            }

            .info{
                font-size: 20px;
                text-align: end;
            }
        }
    }
}

@media (max-width: 720px){
    .admin{
        .cards{
            height: 100%;
            grid-template-columns: auto;
            position: relative;
            gap: 0px;

            &.close{
                .card{
                    width: 100%;
                    position: absolute;
                    z-index: 1;
                    border: none;

                    &.active{
                        position: relative;
                        z-index: 10;
                    }
                }
            }
            
            .card{
                display: grid;
                grid-template-columns: auto auto;
                border: solid 1px #80808059;
                &.active{
                    border: none;
                }
                &:hover{
                    box-shadow: 0 0 0 2px #26c2ff inset;
                }
            }
        }
    }
}