*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body{
    width: 100%;
    height: 100vh;
}
@media (max-height: 400px){
    html, body{
        height: 120vh;
        overflow-y: auto;
    }
}

.main{
    width: 100%;
    height: calc(100% - 65px);
    padding: 25px;
    overflow-y: auto;
}


//Components
@import 'components/index';

//layouts
@import 'layouts/index';

//Themes
@import 'themes/index';

.fRoboto{font-family: 'Roboto', sans-serif;}
.displayN{display: none;}
.cursorP{cursor:pointer;}

/* position fixed to */
.pos-fix{
    position: fixed;
    &-left{@extend .pos-fix; left: 0;}
    &-right{@extend .pos-fix;right: 0;}
    &-top{@extend .pos-fix;top: 0;}
    &-bottom{@extend .pos-fix;bottom: 0;}
}

/*position absolute to */
.pos-abs{
    position: absolute;
    &-left{@extend .pos-abs; left: 0;}
    &-right{@extend .pos-abs; right: 0;}
    &-top{@extend .pos-abs; top: 0;}
    &-bottom{@extend .pos-abs; bottom: 0;}
}

/*max-width*/
.mw500{max-width: 500px;}
/*Padding*/
@for $i from 1 through 10 {
    .pdg#{$i*10}{padding: #{$i*10}px}
}
.pdgT60{padding-top: 60px; box-sizing: border-box;}
.pdgB50{padding-bottom: 50px;}
.pdgB100{padding-bottom: 100px;}

/*Margin top*/
@for $i from 1 through 10 {
    .mt#{$i*10}{margin-top: #{$i*10}px}
}

/*Margin botton*/
@for $i from 1 through 10 {
    .mb#{$i*10}{margin-bottom: #{$i*10}px}
}

/*Margin left*/
@for $i from 1 through 10 {
    .ml#{$i*10}{margin-left: #{$i*10}px}
}

/*Margin rigth*/
@for $i from 1 through 10 {
    .mr#{$i*10}{margin-right: #{$i*10}px}
}

/*Font size*/
.fs12{font-size: 12px}
.fs14{font-size: 14px}
.fs16{font-size: 16px}
.fs18{font-size: 18px}
.fs20{font-size: 20px}
.fs23{font-size: 23px}
.fs25{font-size: 25px}
.fs30{font-size: 30px}
.fs35{font-size: 35px}
.fs40{font-size: 40px}
.fs50{font-size: 50px}
.fs120{font-size: 100px}
.fwB{font-weight: bold}
.fwN{font-weight: lighter;}

/*Interlineado*/
.lh2{line-height: 2}
.lh1p5{line-height: 1.5}

/*Text Align*/
.tac{text-align: center;}

/*Overflow*/
.ofXscroll{
	overflow:hidden;
	overflow-x: auto;
}
.ofYscroll{
	overflow:none;
	overflow-y: auto;
}

.formulario{
    width: 100%;
    max-width: 720px;

    ham-title{
        font-size: 15px;
        box-shadow: none;
        border: none;
        margin: 12px 0;
    }
}
.ham-input{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
}
.ham-btn{
    margin-top: 25px;
    border: 1px solid rgba(230,230,230,0.5);
    cursor: pointer;
    border-radius: 10px;
    min-width: 25px;
    min-height: 25px;
    padding: 10px;
    box-sizing: border-box;
    transition: .12s ease-in-out;
}
a{
    text-decoration: none;
    color: inherit;
}
  
.ham-btn:hover{background: #3498db; border-bottom: solid 1px #3498db;color: #f1f1f1;}
