.card{
    width: 300px;
    height: 350px;
    position: relative;
    background: #FFFFFF;
    margin: 10px 5px;
    overflow: hidden;
    box-shadow: 3px 3px 6px #000000af;
    transition: .12s ease-in-out;

    &:hover{    
        box-shadow: 0px 0px 12px 4px #133441;
        transform: scale(1.025);
    }

    .info{
        font-size: 12px;
        position: absolute;
        width: 100%;
        height: 125px;
        bottom: 0;
        // background: #0a0a0a;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 5px 2em;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;

        .txt{
            color: #dadada;
        }
        .label{
            color: #838383;
        }
    }
}

.cardAlumno{
    width: 300px;
    height: 65px;
    margin: 1px;
    color: white;
    background: #1a1a1a;
    display: grid;
    grid-template-columns: 1fr 65px;
    align-items: center;
    .nombre{
        padding: 10px;
    }
    .grado{
        display: grid;
        place-items: center;
    }
}