ham-container, .ham-container{
    width: 100%;
    max-width: 720px;
    @extend .scrollAzul;
    
    ham-title{
        font-size: 20px;
        margin-bottom: 20px;
    }
    ham-text{
        overflow-y: auto;
        @extend .scrollAzul;
    }
}

ham-btn-container{
    width: 100%;
    text-shadow: 1px 1px #0a0a0a30;
}

.scrollAzul{
    scrollbar-color: #3392b5 transparent;
    scrollbar-width: thin;

    &::-webkit-scrollbar{
        width: 8px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #3392b5;
    }
}

.section{
    transition: .25s;
    padding: 10rem .9rem;
    color: white;
    .container {
        transition: .25s;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        &-principal{
            padding: 6rem 0rem 6rem;
        }
    }
}

.display{
    margin-bottom: .5rem;

    &1{font-size: 5.5rem;}
    &2{font-size: 4.5rem;}
    &3{font-size: 3.5rem;}
    &4{font-size: 2.5rem;}
    &5{font-size: 1.5rem;}
}