.modal{
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 20px;
    top:0;
    z-index: 100;
    display:grid;
    place-items: center;
    // z-index: 100;
    background: #0a0a0a66;
    transition: 1s ease-in-out;

    .containerM{
        min-height: 100px;
        max-height: 90vh;
        width: 100%;
        max-width: 80%;
        background: #FFF;
        box-shadow: 0 0 1px 0 rgba(0,0,0,.16), 0 12px 24px 0 rgba(0,0,0,.15);
        position: relative;
        border-radius: 10px;
        overflow: hidden;

        .contenido{
            .confirmation{
                display: grid;
                grid-template-columns: 200px auto;
                .aside{
                    height: 100%;
                    background: #243a5e;

                    &.success{
                        background-image: url(../ico/success.png);
                        background-size: 50%;
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                    &.error{
                        background-image: url(../ico/error.png);
                        background-size: 50%;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
                .msg{
                    font-weight: 100;
                    height: 100%;
                    padding: 25px;
                }
            }
        }

        .closeModal{
            position: absolute;
            margin: 20px;
            width: 30px;
            height: 30px;
            background: url(../ico/closen.png);
            background-size: 100%;
            top: 0;
            right: 0;
        }
        
        p{
            max-height: 100%;
            padding-top: 25px;
        }
    }
}
@media (max-width:720px){
    .modal{
        .containerM{
            max-width: 95%;
            .contenido{
                .confirmation{
                    grid-template-columns: 100px 1fr;
                    .msg{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}