.table-container{
    width: 80%;
    max-width: 80%;
    max-height: 80%;
    overflow-x: auto;
    margin: 0 auto;
    &::-webkit-scrollbar{
        width: 8px;
        height: 8px;
        background: #E1E1E1;
    }
    &::-webkit-scrollbar-thumb{
        background: #268FFF;
    }
    // &::-webkit-scrollbar-button{
    //     background: red;
    // }

    table {
        width: 100%;
        border-collapse: collapse;
        overflow-x: auto;
        
        tr{ 
            background: #E1E1E1EE;
            transition: .15s ease-in-out; 
            // &:hover{
            //     background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
            // }
        }
        th { 
            background: #FFF; 
            color: #333; 
        }
        td, th {
            border: solid #FFF 1px;
            font-weight: 500; 
            padding: 1em; 
            text-align: center;
            font-size: 16px;
            line-height: 16px;
        }
    }
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 650px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
    /* Hide table headers (but not display: none;, for accessibility) */
    .table-container{
        table{

            thead tr { 
                position: absolute;
                top: -9999px;
                left: -9999px;
            }
            
            tr {background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); border: 1px solid #ccc; margin: 5px 0;}
            
            td { 
                /* Behave  like a "row" */
                border: none;
                position: relative;
                padding-left: 50%;
                text-align: start; 
            }
            
            td:before { 
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                // top: 6px;
                left: 20px;
                width: 15%; 
                padding-right: 10px; 
                white-space: nowrap;
            }
        }
    }
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "No. Control"; }
	td:nth-of-type(2):before { content: "Nombre"; }
	td:nth-of-type(3):before { content: "Carrera"; }
	td:nth-of-type(4):before { content: "Accion"; }
}
  /* Zebra striping */