.grid-{

    @for $i from 1 to 10 {
        &#{$i}{
            display: grid;
            gap: 0 10px;
            grid-template-columns: repeat(#{$i}, auto);
        }
    }

}

@media (max-width:720px){
    .grid-{

        @for $i from 1 to 10 {
            &#{$i}{
                display: grid;
                gap: 0 10px;
                grid-template-columns: auto;
            }
        }
    
    }
}