.bg-main{background: #4A154B; color: #DADADA;}
.bg-primary{background: #611F6A; color: #DADADA;}
.bg-secondary{background: #071D5C; color: #DADADA;}
.bg-success{background: #007A5B; color: #DADADA;}
.bg-Info{background: #1264A4; color: #DADADA;}
.bg-Warning{background: #ECB22F;}
.bg-Danger{background: #E01E5B;}
.bg-Dark{background: #212529;}
.bg-Light{background: #EBEAEB;}