<div class="datosBitacora pdt20">
    <span class="row">
        <div class="title">ID</div>
        <div class="field" id="id_niño"></div>
    </span>
    <span class="row">
        <div class="title">Nombre</div>
        <div class="field" id="nom_niño"></div>
    </span>
    <span class="col">
        <div class="title fullW">Detalles</div>
        <textarea class="field txt_a" name="" id=""></textarea>
    </span>
    <button class="ham-btn ham-blue" id="subBit">Guardar</button>
</div>